<launch>
	<param name="/use_sim_time" value="False" />
	<arg name="host"/>
	<arg name="receive_port" default="5000"/>

	<node name="main_node" pkg="speaker_recognition_robot"
        type="main.py" output="screen" />

	<node name="hmm_node" pkg="speaker_recognition_robot"
            type="hmm.py" output="screen" />

	<node name="localizer_node" pkg="speaker_recognition_robot"
        type="localizer.py" output="screen" />

</launch>